body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  background-color: #eee;
}
.container {
  background-color: red;
  margin-top: 5em;
  background-color: #eee;
}
.main-container {
    color: pink;
}


.clock-container {
    background-color: #2d3436;
    width: 80%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
}

.submit-btn {
    margin-top: 5em;
    margin-bottom: 1em;
    width: 50%;
}

.countdown-clock {
  font-family: Orbitron;
  color: #00FF00;
  font-size: 5em;
  letter-spacing: 0.5em;
}

.login-form {
  padding: 1.2em;
  background-color: #eee;
  border: 1px solid #ddd;
}

li {
  list-style: none;
  padding: 0.2em;
}

.debug-container {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 2em;
}

.card-container {
    padding: 1em 0 3em 0;
}

.modal-btn {
    margin: 0 auto;
}

.flag1 {
  background: rgba(46, 204, 113,0.8);
}
.flag0 {
  background: rgba(231, 76, 60,0.8)
}