.main-container {
    color: pink;
}


.clock-container {
    background-color: #2d3436;
    width: 80%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
}

.submit-btn {
    margin-top: 5em;
    margin-bottom: 1em;
    width: 100%;
}

.countdown-clock {
  font-family: Orbitron;
  color: #e53935;
  font-size: 5em;
  letter-spacing: 0.5em;
}